<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Backend Shop</title>
  <style>
    body { font-family: Arial; padding: 20px }
    .product-card { border: 1px solid #ccc; padding: 10px; margin: 10px }
    .pagination { margin-top: 20px }
  </style>
</head>
<body>
  {{{body}}}
</body>
</html>
